In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt

In [2]:
# Working through Question #4 - UrLeaka

### Hi Chris

In [3]:
accre_data = pd.read_csv('~/nss_data_science/DataQuestion2/data-question-2-dream-crushers/data/july2017-june2018.txt', delimiter='|')
accre_data.head()

C:\Users\unews\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,JobID,JobIDRaw,Cluster,Partition,Account,Group,GID,User,UID,Submit,...,State,NNodes,NCPUS,ReqCPUS,ReqMem,ReqGRES,ReqTRES,Timelimit,NodeList,JobName
0,15806649,15806649,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1085,WOODWARD_TCP-x-228324-x-228324-x-301-x-Multi_A...
1,15806664,15806664,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1099,WOODWARD_TCP-x-115174-x-115174-x-301-x-Multi_A...
2,15806670,15806670,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1126,WOODWARD_TCP-x-215607-x-215607-x-301-x-Multi_A...
3,15806671,15806671,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp230,WOODWARD_TCP-x-116214-x-116214-x-1701-x-Multi_...
4,15811617,15811617,accre,production,cms_samtest,cms_samtest,59297,uscms010,NaN,2017-07-01T05:00:00,...,COMPLETED,1,1,1,4000Mn,NaN,"cpu=1,mem=4000M,node=1",2-00:00:00,vmp1242,bl_aa7c22e04f21

In [109]:
# Start and end times were analyzed and converted to datetime64 format 
# in order to eventually determine and compare "elapsed time"
accre_data.Start = pd.to_datetime(accre_data.Start)
accre_data.End = pd.to_datetime(accre_data.End)

In [111]:
accre_data['RunCalc'] = accre_data.End - accre_data.Start

In [112]:
accre_data.RunCalc.head()

0   1 days 01:05:21
1   0 days 23:51:47
2   1 days 01:59:51
3   1 days 08:02:20
4   0 days 00:00:10
Name: RunCalc, dtype: timedelta64[ns]

In [11]:
# Run Calc is converted to number of days in order to filter out all 
# elapsed times greater than 24 hours.
days=accre_data.RunCalc.dt.days
days.head()

0    1
1    0
2    1
3    1
4    0
Name: RunCalc, dtype: int64

In [108]:
# Filtered all cases that have not completed and cases that took more 
# than 24 hrs.
completed=accre_data[accre_data.State == 'COMPLETED']
completed['days']=days
less24hrs = completed[completed.days< 1]
less24hrs.head()

C:\Users\unews\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,JobID,JobIDRaw,Cluster,Partition,Account,Group,GID,User,UID,Submit,...,NCPUS,ReqCPUS,ReqMem,ReqGRES,ReqTRES,Timelimit,NodeList,JobName,RunCalc,days
1,15806664,15806664,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1099,WOODWARD_TCP-x-115174-x-115174-x-301-x-Multi_A...,23:51:47,0
4,15811617,15811617,accre,production,cms_samtest,cms_samtest,59297,uscms010,NaN,2017-07-01T05:00:00,...,1,1,4000Mn,NaN,"cpu=1,mem=4000M,node=1",2-00:00:00,vmp1242,bl_aa7c22e04f21,00:00:10,0
5,15811618,15811618,accre,production,cms_stage2,cms_stage1,59298,autocms,9209.0,2017-07-01T05:00:01,...,1,1,2Gc,NaN,"cpu=1,mem=2G,node=1",12:00:00,vmp1063,skim_test,00:03:18,0
6,15811619,15811619,accre,production,cms_stage2,cms,31000,tuos,126986.0,2017-07-01T05:00:02,...,1,1,2Gc,NaN,"cpu=1,mem=2G,node=1",12:00:00,vmp1062,skim_test,00:02:03,0
7,15811621,15811621,accre,production,cms_samtest,cms_samtest,59297,uscms010,NaN,2017-07-01T05:00:22,...,1,1,4000Mn,NaN,"cpu=1,mem=4000M,node=1",2-00:00:00,vmp1242,bl_33ee450ebdc4,00:00:10,0

In [13]:
less24hrs.days.head()

1    0
4    0
5    0
6    0
7    0
Name: days, dtype: int64

In [14]:
less24hrs.RunCalc.head()

1   23:51:47
4   00:00:10
5   00:03:18
6   00:02:03
7   00:00:10
Name: RunCalc, dtype: timedelta64[ns]

In [113]:
# Converted times to secs in order to filter out times that took more 
# than 5 min.
secs_RunCalc=less24hrs.RunCalc.dt.seconds
less24hrs['secs_RunCalc'] = secs_RunCalc
#Number of seconds (>= 0 and less than 1 day) for each element.

C:\Users\unews\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [131]:
less24hrs.secs_RunCalc.head()

1    85907
4       10
5      198
6      123
7       10
Name: secs_RunCalc, dtype: int64

In [115]:
prob_jobs = less24hrs[less24hrs.secs_RunCalc<=300]
prob_jobs.head()

,JobID,JobIDRaw,Cluster,Partition,Account,Group,GID,User,UID,Submit,...,ReqCPUS,ReqMem,ReqGRES,ReqTRES,Timelimit,NodeList,JobName,RunCalc,days,secs_RunCalc
4,15811617,15811617,accre,production,cms_samtest,cms_samtest,59297,uscms010,NaN,2017-07-01T05:00:00,...,1,4000Mn,NaN,"cpu=1,mem=4000M,node=1",2-00:00:00,vmp1242,bl_aa7c22e04f21,00:00:10,0,10
5,15811618,15811618,accre,production,cms_stage2,cms_stage1,59298,autocms,9209.0,2017-07-01T05:00:01,...,1,2Gc,NaN,"cpu=1,mem=2G,node=1",12:00:00,vmp1063,skim_test,00:03:18,0,198
6,15811619,15811619,accre,production,cms_stage2,cms,31000,tuos,126986.0,2017-07-01T05:00:02,...,1,2Gc,NaN,"cpu=1,mem=2G,node=1",12:00:00,vmp1062,skim_test,00:02:03,0,123
7,15811621,15811621,accre,production,cms_samtest,cms_samtest,59297,uscms010,NaN,2017-07-01T05:00:22,...,1,4000Mn,NaN,"cpu=1,mem=4000M,node=1",2-00:00:00,vmp1242,bl_33ee450ebdc4,00:00:10,0,10
8,15811624,15811624,accre,production,cms_stage2,cms_stage1,59298,autocms,9209.0,2017-07-01T05:01:01,...,1,2Gc,NaN,"cpu=1,mem=2G,node=1",12:00:00,vmp670,skim_test,00:04:47,0,287

In [154]:
# Reduced dataframes to necessary columns
prob_jobs2=prob_jobs[['JobIDRaw', 'User', 'Submit','RunCalc', 'secs_RunCalc']]

In [155]:
# Not needed... just looking at data
prob_users=prob_jobs2.User.value_counts()#returns a series with indices of users.  the list/series has just values... t
# the users are just labesl for the rows
print(prob_users.head())

sotocs      628643
autocms     416770
uscms010    251082
janjamrk    215779
zhangdk     205331
Name: User, dtype: int64

In [156]:
# Not needed... just looking at data
# type(prob_users)
print(prob_users[0])# convert to dataframe so that it's easier to subset
# prob_user_df=prob_jobs.loc[prob_jobs['User'].isin(prob_users)] -- did not work when setting prob users >20 or 50

628643

In [157]:
# Found users with more than 500 jobs
pu1=prob_users>500
pu1.head()

sotocs      True
autocms     True
uscms010    True
janjamrk    True
zhangdk     True
Name: User, dtype: bool

In [158]:
#changes series to dictionary where each user is associated with a boolean factor
pu2=pu1.to_dict()
type(pu2)

dict

In [159]:
###Selected users (keys) in dictionary based on "True" (values) condition in dictionary 
#dict has k, v
#pu2 has user as key and whether or not they had 500+ jobs as value (boolean)
badusers=[k for k,v in pu2.items() if v == True] #for k v and pu2 is the iteration... iterate through dictionary and grab keys and values
# the condition we care about is when the value is True
badusers[0:5]

['sotocs', 'autocms', 'uscms010', 'janjamrk', 'zhangdk']

In [160]:
# Compared new list to exisiting dataframe and selected appropiate users
# that have more than 500 jobs under 5 min.
prob_user_jobs=prob_jobs2.loc[prob_jobs2.User.isin(badusers)]# finds rows in dataframe based on new list of badusers
prob_user_jobs.head()

   JobIDRaw      User               Submit  RunCalc  secs_RunCalc
4  15811617  uscms010  2017-07-01T05:00:00 00:00:10            10
5  15811618   autocms  2017-07-01T05:00:01 00:03:18           198
6  15811619      tuos  2017-07-01T05:00:02 00:02:03           123
7  15811621  uscms010  2017-07-01T05:00:22 00:00:10            10
8  15811624   autocms  2017-07-01T05:01:01 00:04:47           287

In [161]:
# convert submit time to datetime64 format
prob_user_jobs.loc[:,'Submit'] = pd.to_datetime(prob_user_jobs.Submit)
prob_user_jobs.Submit.head()

C:\Users\unews\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

4   2017-07-01 05:00:00
5   2017-07-01 05:00:01
6   2017-07-01 05:00:02
7   2017-07-01 05:00:22
8   2017-07-01 05:01:01
Name: Submit, dtype: datetime64[ns]

In [162]:
# sorted times in order of occurence
pu3=prob_user_jobs.sort_values(['Submit'])
pu3.head()

   JobIDRaw      User              Submit  RunCalc  secs_RunCalc
4  15811617  uscms010 2017-07-01 05:00:00 00:00:10            10
5  15811618   autocms 2017-07-01 05:00:01 00:03:18           198
6  15811619      tuos 2017-07-01 05:00:02 00:02:03           123
7  15811621  uscms010 2017-07-01 05:00:22 00:00:10            10
8  15811624   autocms 2017-07-01 05:01:01 00:04:47           287

In [187]:
# created new column to possibly use in place of JobIDRaw
pu3['count_num']=pu3

In [188]:
pu3.head(1)

   JobIDRaw      User              Submit  RunCalc  secs_RunCalc count_num
4  15811617  uscms010 2017-07-01 05:00:00 00:00:10            10  15811617

In [191]:
# Created syntax to order/group jobs by users and the jobs they produced
# every 4 hours
rollingjobs=pu3.groupby('User').rolling('14400s', on='Submit').JobIDRaw.count()#Why does it change the JobIDRaw

In [192]:
# converted datastructure to dataframe
rolling_df=pd.DataFrame(rollingjobs).reset_index()
rolling_df.head()

      User              Submit  JobIDRaw
0  abraha1 2017-10-07 19:12:39       1.0
1  abraha1 2017-10-07 19:21:18       2.0
2  abraha1 2017-10-07 19:29:20       3.0
3  abraha1 2017-10-07 19:32:12       4.0
4  abraha1 2017-10-07 21:28:42       5.0

In [214]:
#Evaluated max count per user.  JobIDRaw column now represents
# the max count for jobs that occur within a 4 hour period and the users
# that ran them
rolling_df_max=rolling_df.groupby('User').max().reset_index()
rolling_df_max.head()

       User              Submit  JobIDRaw
0   abraha1 2018-06-28 20:17:04    6234.0
1   autocms 2018-06-30 23:55:01     299.0
2  badamifs 2017-08-14 13:50:52    1576.0
3      baoj 2018-01-18 01:05:07     127.0
4    boydb1 2018-06-30 10:46:17      97.0

In [215]:
# Found the users that ran more than 500 jobs within a 4hour window
rolling_user_max=rolling_df_max.loc[rolling_df_max['JobIDRaw']>=500]
rolling_user_max

          User              Submit  JobIDRaw
0      abraha1 2018-06-28 20:17:04    6234.0
2     badamifs 2017-08-14 13:50:52    1576.0
5     brancha1 2018-01-12 02:20:35    1192.0
7       brockc 2018-03-01 00:29:05    8206.0
8     brownbp1 2018-06-26 20:23:07    6833.0
9       cakira 2018-06-25 20:16:52    6388.0
15      chenr6 2018-06-27 22:00:48    1932.0
16    chipmajj 2018-05-07 15:15:23   10596.0
17  cmsglidein 2018-05-23 08:01:27    1390.0
18    dagostle 2017-11-15 17:41:01    1130.0
20        deik 2018-06-18 20:41:11    6600.0
21    delaladp 2018-06-22 17:29:48    1151.0
22     dennisj 2018-05-07 20:20:30     753.0
23        elyz 2018-06-27 00:08:20    3000.0
24     fabelab 2018-05-10 06:18:33    1696.0
25    fletchs2 2017-08-13 07:04:43     750.0
26    frenchwr 2018-06-26 19:55:24    1730.0
29        hej4 2018-06-25 17:09:02     904.0
31     hodgese 2018-06-20 19:18:55    1265.0
32    jacklisr 2017-10-03 12:59:52    2393.0
33    janjamrk 2018-06-30 23:54:18   40821.0
35     jiany17 2018-06-20 17:08:56   15815.0
36      joshin 2018-06-13 20:28:59    1091.0
38      khancm 2017-12-31 05:38:48    2996.0
39    kochenma 2018-06-24 21:26:14    1459.0
40     kuenzeg 2018-06-28 01:22:24     585.0
41    labellal 2018-06-29 14:21:06     644.0
42       lib13 2018-04-25 15:48:18    1097.0
43      lindal 2018-05-18 17:59:11     749.0
44    luchieac 2018-06-28 05:56:27     770.0
..         ...                 ...       ...
46     mangrd1 2018-06-28 03:24:41     961.0
47     marlowb 2017-07-28 23:50:21    2756.0
49      meloam 2017-10-12 16:27:59   10549.0
50    mercalnd 2017-11-29 14:30:14    3589.0
51    meyerct1 2018-06-25 17:33:27    9710.0
53       moonj 2018-04-28 05:06:45    7499.0
54      mothcw 2018-06-28 09:45:12     781.0
55        msrc 2018-06-29 15:31:07     955.0
56     nagarr1 2017-11-27 16:40:01    1884.0
57     ozgunka 2018-06-29 04:34:18    6641.0
59     ruderfd 2018-05-26 04:35:45    2867.0
61    schildjs 2018-06-06 13:28:24    1250.0
62    schluedj 2018-06-07 21:29:54    3454.0
63    schlunsg 2018-06-21 21:25:00   27556.0
64    scholzmb 2018-06-29 18:20:58    1147.0
66    sheehajh 2018-06-25 21:18:56    3176.0
67     shengq2 2018-06-21 20:53:30    1998.0
68     shockle 2017-11-01 16:38:01    5000.0
69    sivleyrm 2017-12-29 17:29:45    4440.0
70     smithst 2018-06-19 19:43:46    1763.0
71      sotocs 2018-04-07 00:59:45  260925.0
74     straubp 2018-06-29 16:27:06    1429.0
76    teaguedo 2017-07-21 11:01:30     973.0
77    tierneje 2018-06-29 16:08:51    1989.0
78    trippej1 2018-02-09 20:44:05     500.0
81    vuiiscci 2018-06-30 19:13:07     963.0
83     wangj36 2018-06-23 23:21:05   72063.0
84     wangy67 2018-06-22 03:08:55    1429.0
87     zhangdk 2018-04-04 17:42:50   75612.0
88      zhoud2 2018-06-29 22:40:46    1443.0

[61 rows x 3 columns]

In [216]:
 
rolling_df_max.shape

(89, 3)

In [217]:
rolling_user_max.shape #Out of 89 users, 61 users have produced more than 500 jobs within 4 hours

(61, 3)

In [ ]:
# Future work.... determine repeat offenders.  Users that have multiple 
# counts within a 4 hour period greater than 500.

# Questions - is it effective to create a bar graph with this many users?  
# Is there a better way to create a table than displaying a dataframe?