In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt

In [43]:
# Working through Question #4 - UrLeaka

### Hi Chris

In [44]:
accre_data = pd.read_csv('~/nss_data_science/DataQuestion2/data-question-2-dream-crushers/data/july2017-june2018.txt', delimiter='|', nrows=100)
accre_data.head()

,JobID,JobIDRaw,Cluster,Partition,Account,Group,GID,User,UID,Submit,...,State,NNodes,NCPUS,ReqCPUS,ReqMem,ReqGRES,ReqTRES,Timelimit,NodeList,JobName
0,15806649,15806649,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1085,WOODWARD_TCP-x-228324-x-228324-x-301-x-Multi_A...
1,15806664,15806664,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1099,WOODWARD_TCP-x-115174-x-115174-x-301-x-Multi_A...
2,15806670,15806670,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1126,WOODWARD_TCP-x-215607-x-215607-x-301-x-Multi_A...
3,15806671,15806671,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp230,WOODWARD_TCP-x-116214-x-116214-x-1701-x-Multi_...
4,15811617,15811617,accre,production,cms_samtest,cms_samtest,59297,uscms010,NaN,2017-07-01T05:00:00,...,COMPLETED,1,1,1,4000Mn,NaN,"cpu=1,mem=4000M,node=1",2-00:00:00,vmp1242,bl_aa7c22e04f21

In [45]:
accre_data.columns

Index(['JobID', 'JobIDRaw', 'Cluster', 'Partition', 'Account', 'Group', 'GID',
       'User', 'UID', 'Submit', 'Eligible', 'Start', 'End', 'Elapsed',
       'ExitCode', 'State', 'NNodes', 'NCPUS', 'ReqCPUS', 'ReqMem', 'ReqGRES',
       'ReqTRES', 'Timelimit', 'NodeList', 'JobName'],
      dtype='object')

In [46]:
accre_data.Start.head()
# accre_data['RunCalc'] = accre_data['End'] - accre_data['Start']

0    2017-07-03T02:13:59
1    2017-07-03T02:20:08
2    2017-07-03T02:41:13
3    2017-07-03T02:51:53
4    2017-07-01T05:00:01
Name: Start, dtype: object

In [47]:
accre_data.Start = pd.to_datetime(accre_data.Start)
accre_data.End = pd.to_datetime(accre_data.End)

In [48]:
accre_data.Elapsed.head()

0    1-01:05:21
1      23:51:47
2    1-01:59:51
3    1-08:02:20
4      00:00:10
Name: Elapsed, dtype: object

In [49]:
accre_data['RunCalc'] = accre_data.End - accre_data.Start

In [50]:
accre_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 26 columns):
JobID        100 non-null object
JobIDRaw     100 non-null int64
Cluster      100 non-null object
Partition    100 non-null object
Account      100 non-null object
Group        100 non-null object
GID          100 non-null int64
User         100 non-null object
UID          69 non-null float64
Submit       100 non-null object
Eligible     100 non-null object
Start        100 non-null datetime64[ns]
End          100 non-null datetime64[ns]
Elapsed      100 non-null object
ExitCode     100 non-null object
State        100 non-null object
NNodes       100 non-null int64
NCPUS        100 non-null int64
ReqCPUS      100 non-null int64
ReqMem       100 non-null object
ReqGRES      0 non-null float64
ReqTRES      100 non-null object
Timelimit    100 non-null object
NodeList     100 non-null object
JobName      100 non-null object
RunCalc      100 non-null timedelta64[ns]
dtypes: datetime64[ns](2), float64(2), int64(5), object(16), timedelta64[ns](1)
memory usage: 20.4+ KB

In [51]:
accre_data.RunCalc.head()

0   1 days 01:05:21
1   0 days 23:51:47
2   1 days 01:59:51
3   1 days 08:02:20
4   0 days 00:00:10
Name: RunCalc, dtype: timedelta64[ns]

In [52]:
days=accre_data.RunCalc.dt.days
days.head()

0    1
1    0
2    1
3    1
4    0
Name: RunCalc, dtype: int64

In [53]:
accre_data['days']=days
less24hrs = accre_data[accre_data.days< 1]
less24hrs.head()

,JobID,JobIDRaw,Cluster,Partition,Account,Group,GID,User,UID,Submit,...,NCPUS,ReqCPUS,ReqMem,ReqGRES,ReqTRES,Timelimit,NodeList,JobName,RunCalc,days
1,15806664,15806664,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1099,WOODWARD_TCP-x-115174-x-115174-x-301-x-Multi_A...,23:51:47,0
4,15811617,15811617,accre,production,cms_samtest,cms_samtest,59297,uscms010,NaN,2017-07-01T05:00:00,...,1,1,4000Mn,NaN,"cpu=1,mem=4000M,node=1",2-00:00:00,vmp1242,bl_aa7c22e04f21,00:00:10,0
5,15811618,15811618,accre,production,cms_stage2,cms_stage1,59298,autocms,9209.0,2017-07-01T05:00:01,...,1,1,2Gc,NaN,"cpu=1,mem=2G,node=1",12:00:00,vmp1063,skim_test,00:03:18,0
6,15811619,15811619,accre,production,cms_stage2,cms,31000,tuos,126986.0,2017-07-01T05:00:02,...,1,1,2Gc,NaN,"cpu=1,mem=2G,node=1",12:00:00,vmp1062,skim_test,00:02:03,0
7,15811621,15811621,accre,production,cms_samtest,cms_samtest,59297,uscms010,NaN,2017-07-01T05:00:22,...,1,1,4000Mn,NaN,"cpu=1,mem=4000M,node=1",2-00:00:00,vmp1242,bl_33ee450ebdc4,00:00:10,0

In [54]:
less24hrs.days.head()

1    0
4    0
5    0
6    0
7    0
Name: days, dtype: int64

In [55]:
less24hrs.RunCalc.head()

1   23:51:47
4   00:00:10
5   00:03:18
6   00:02:03
7   00:00:10
Name: RunCalc, dtype: timedelta64[ns]

In [62]:
secs_RunCalc=less24hrs.RunCalc.dt.seconds
less24hrs['secs_RunCalc'] = secs_RunCalc
#Number of seconds (>= 0 and less than 1 day) for each element.

C:\Users\unews\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [63]:
less24hrs.head()

,JobID,JobIDRaw,Cluster,Partition,Account,Group,GID,User,UID,Submit,...,ReqCPUS,ReqMem,ReqGRES,ReqTRES,Timelimit,NodeList,JobName,RunCalc,days,secs_RunCalc
1,15806664,15806664,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1099,WOODWARD_TCP-x-115174-x-115174-x-301-x-Multi_A...,23:51:47,0,85907
4,15811617,15811617,accre,production,cms_samtest,cms_samtest,59297,uscms010,NaN,2017-07-01T05:00:00,...,1,4000Mn,NaN,"cpu=1,mem=4000M,node=1",2-00:00:00,vmp1242,bl_aa7c22e04f21,00:00:10,0,10
5,15811618,15811618,accre,production,cms_stage2,cms_stage1,59298,autocms,9209.0,2017-07-01T05:00:01,...,1,2Gc,NaN,"cpu=1,mem=2G,node=1",12:00:00,vmp1063,skim_test,00:03:18,0,198
6,15811619,15811619,accre,production,cms_stage2,cms,31000,tuos,126986.0,2017-07-01T05:00:02,...,1,2Gc,NaN,"cpu=1,mem=2G,node=1",12:00:00,vmp1062,skim_test,00:02:03,0,123
7,15811621,15811621,accre,production,cms_samtest,cms_samtest,59297,uscms010,NaN,2017-07-01T05:00:22,...,1,4000Mn,NaN,"cpu=1,mem=4000M,node=1",2-00:00:00,vmp1242,bl_33ee450ebdc4,00:00:10,0,10

In [64]:
accre_data.loc[4]

JobID                      15811617
JobIDRaw                   15811617
Cluster                       accre
Partition                production
Account                 cms_samtest
Group                   cms_samtest
GID                           59297
User                       uscms010
UID                             NaN
Submit          2017-07-01T05:00:00
Eligible        2017-07-01T05:00:00
Start           2017-07-01 05:00:01
End             2017-07-01 05:00:11
Elapsed                    00:00:10
ExitCode                        0:0
State                     COMPLETED
NNodes                            1
NCPUS                             1
ReqCPUS                           1
ReqMem                       4000Mn
ReqGRES                         NaN
ReqTRES      cpu=1,mem=4000M,node=1
Timelimit                2-00:00:00
NodeList                    vmp1242
JobName             bl_aa7c22e04f21
RunCalc             0 days 00:00:10
days                              0
Name: 4, dtype: object

In [65]:
secs_RunCalc300s = less24hrs[less24hrs.secs_RunCalc<=300]
secs_RunCalc300s.head()

,JobID,JobIDRaw,Cluster,Partition,Account,Group,GID,User,UID,Submit,...,ReqCPUS,ReqMem,ReqGRES,ReqTRES,Timelimit,NodeList,JobName,RunCalc,days,secs_RunCalc
4,15811617,15811617,accre,production,cms_samtest,cms_samtest,59297,uscms010,NaN,2017-07-01T05:00:00,...,1,4000Mn,NaN,"cpu=1,mem=4000M,node=1",2-00:00:00,vmp1242,bl_aa7c22e04f21,00:00:10,0,10
5,15811618,15811618,accre,production,cms_stage2,cms_stage1,59298,autocms,9209.0,2017-07-01T05:00:01,...,1,2Gc,NaN,"cpu=1,mem=2G,node=1",12:00:00,vmp1063,skim_test,00:03:18,0,198
6,15811619,15811619,accre,production,cms_stage2,cms,31000,tuos,126986.0,2017-07-01T05:00:02,...,1,2Gc,NaN,"cpu=1,mem=2G,node=1",12:00:00,vmp1062,skim_test,00:02:03,0,123
7,15811621,15811621,accre,production,cms_samtest,cms_samtest,59297,uscms010,NaN,2017-07-01T05:00:22,...,1,4000Mn,NaN,"cpu=1,mem=4000M,node=1",2-00:00:00,vmp1242,bl_33ee450ebdc4,00:00:10,0,10
8,15811624,15811624,accre,production,cms_stage2,cms_stage1,59298,autocms,9209.0,2017-07-01T05:01:01,...,1,2Gc,NaN,"cpu=1,mem=2G,node=1",12:00:00,vmp670,skim_test,00:04:47,0,287

In [66]:
secs_RunCalc300s.Elapsed.head()

4    00:00:10
5    00:03:18
6    00:02:03
7    00:00:10
8    00:04:47
Name: Elapsed, dtype: object

In [67]:
#Name Change
prob_jobs=secs_RunCalc300s

In [68]:
prob_jobs.shape

(74, 28)

In [ ]:
#Out of 100 cases selected in intial download, 74 cases may be problematic due to short run time.  Narrow down jobs within 4 hours later...

In [106]:
prob_users=prob_jobs.User.value_counts()
print(prob_users)

nagarr1     63
uscms010     3
autocms      3
tuos         3
vuiiscci     2
Name: User, dtype: int64

In [102]:
# prob_user_df=prob_jobs.loc[prob_jobs['User'].isin(prob_users)] -- did not work when setting prob users >20 or 50

In [107]:
type(prob_users)

pandas.core.series.Series

In [111]:
pu1 = prob_users>50
print(pu1)

nagarr1      True
uscms010    False
autocms     False
tuos        False
vuiiscci    False
Name: User, dtype: bool

In [116]:
pu2=pu1==True
print(pu2)

nagarr1      True
uscms010    False
autocms     False
tuos        False
vuiiscci    False
Name: User, dtype: bool

74